.footer-upper {
    margin-bottom: -3rem;
    margin-top: 5rem;
    background-color: $gray-2;
    // div[class^="bg-image-"], div[class*=" bg-image-"] {
    //     background-color: #333 !important;
    // }
    .footer-upper-block {
        padding-top: 3rem;
        padding-bottom: 5rem;
        @include respond-to-max('mobile') {
            padding-top: 1rem;
            padding-bottom: 1rem;
            .col{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        .paragraph-text-block-band {
            .anchor-base {
                display: none;
            }
            .paragraph-block-header-text-link {
                .wrapper {
                    background-color: transparent;
                    color: white;
                    .h2 {
                        a {
                            color: white;
                            svg, i {
                                display: none;
                            }
                        }
                    }
                }
            }    
        }
        
        // .footer-block-header {
        //     color: white;
        //     font-family: 'Lora';
        //     font-size: 2rem;
        //     margin: 1em 0 2em 0;
        //     text-shadow: 1px 1px black;
        //     @include respond-to-max('mobile') {
        //         margin: .5em 0;
        //         font-size: 1.5rem;
        //     }
        // }
        // .paragraph-block-header-text-link {
        //     margin-bottom: 2rem;
        //     display: flex;
        //     z-index: 2;
        //     align-self: normal;
        //     flex: 1 1 0;
        //     margin: 1rem .5rem;
        //     &:nth-child(2) {
        //         margin-left: 0;
        //     }
        //     &:last-child {
        //         margin-right: 0;
        //     }
        //     position: relative;
        //     z-index: 2;
        //     .wrapper {
        //         padding-top: 0;
        //         background: white;
        //         border-top: 4px solid $gray-5;
        //         display: flex;
        //         flex-direction: column;
        //         height: 100%;
        //         &:first-child {
        //             margin-left: 0;
        //         }
        //         &:last-child {
        //             margin-right: 0;
        //         }
        //     }
        // }
        // .link-block {
        //     display: flex;
        //     color: white;            
        //     padding: 1em 0;
        //     border-top: 2px solid white;
        //     &:hover{
        //         background-color: rgba(255,255,255,.2);
        //         border-color: $maroon;
        //     }
        //     a {
        //         font-weight: 400;
        //         text-decoration: none;
        //         color: white;
        //         display: flex;
        //         padding: 0 1em;
        //         width: 100%;
        //         align-items: baseline;
        //         &:hover{
        //             text-decoration: none;                    
        //         }
        //     }
        //     .wrapper{                                
        //         flex: 1 1 auto;
        //         .link-header{
        //             font-family: 'Lora';
        //             font-size: 1.3rem;
        //             margin-bottom: .5rem;
        //             font-weight: 600;
        //         }
        //         .link-body {
        //             @include respond-to-max('mobile') {
        //                 display: none;
        //             }
        //         }
        //     }
        //     .link-icon {
        //         margin-right: 1em;
        //     }
        // }
    }
}