.footer-upper {
    margin-bottom: -3rem;
    margin-top: 5rem;
    background-color: $gray-2;
    // div[class^="bg-image-"], div[class*=" bg-image-"] {
    //     background-color: #333 !important;
    // }
    .footer-upper-block {
        padding-top: 3rem;
        padding-bottom: 4rem;
        @include respond-to-max('mobile') {
            padding-top: 1rem;
            padding-bottom: 1rem;
            .col{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        .paragraph-text-block-band {
            .paragraph-block-header-text-link {
                .wrapper {
                    padding-top: 0px;
                    position: relative;
                    &:before {
                        border: 1px solid white;
                        position: relative;
                        left: -25px;
                        width: calc(100% + 50px);
                    }
                    background-color: transparent;
                    color: white;
                    .h2 {
                        a {
                            color: white;
                            svg, i {
                                display: none;
                            }
                        }
                    }
                    &:hover, &:active {
                        background-color: rgba(230, 230, 230, .1);
                    }
                }
                @include respond-to-max('laptop') {
                    min-width: 100%;
                }
            }    
        }
    }
}

.footer {
    background-color: $maroon;
    margin-top: 42px;
    padding-top: 4rem;
    color: white;
    .footer-menu-block {
        display: flex;
        flex-direction: row;
        &>div {
            padding: 0 1rem !important;
            margin-top: 0;
        }
        .paragraph--wysiwyg {
            flex: 1 1 0;
            color: white;
            p {
                margin-bottom: 0;
                font-size: 1rem;
            }
            .h3 {
                color: white;
                font-weight: 400;
                font-size: 1.3rem;
            }
            .h2 {
                color: white;
                font-family: 'Open Sans';
                font-weight: 400;
                margin-bottom: 1rem;
                display: block;
            }
        }
        .paragraph--contact-card {
            flex: 1 1 0;
            background-color: transparent;
            color: white;
            .h4 {
                color: white;
            }
            .contact-info {
                a {
                    color: white !important;
                }    
            }
        }
        .footer-menu {
            flex: 1 1 0;
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 1.4rem;
                        svg, i {
                            margin-left: 1.5rem;
                        }
                        &:hover, &:active {
                            text-decoration: underline;
                        }
                    }
                    margin-bottom: .75rem;
                }
            }    
        }
        @include respond-to-max('laptop') {
            flex-wrap: wrap;
            padding: 0 1rem 1rem 1rem;
            .paragraph--wysiwyg,
            .paragraph--contact-card,
            .footer-menu {
                min-width: 100%;
            }
            .paragraph--contact-card {
                // padding: 0 !important;
            }
            .footer-menu {
                ul {
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
    }
}
