<div{{ attributes.addClass('container') }}>
    <div class="row">
        <div class="col">
            {% if content.field_paragraph_band|render|striptags('<drupal-render-placeholder>')|trim is empty %}
                <h1>
                  {{ node.label }}
                </h1>
            {% else %}
                {{ content.field_paragraph_band }}
            {% endif %}
            <div class="content">
                {{ content.field_paragraph_bands }}
            </div>
        </div>    
    </div>
</div>