{% set internalUrl = fields.view_node.content|striptags('<drupal-render-placeholder>')|trim %}

<div class="tile related-news-block">
    <div class="wrapper">
        <div class="h2">
            <a href="{{ internalUrl }}">
                {{ fields.title.content }}
            </a>
        </div>
        <div class="summary">
            {# <a class="read-more" href="{{ internalUrl }}"> #}
                {{ fields.created.content }}
            {# </a> #}
        </div>
    </div>
</div>