{% set internalUrl = fields.view_node.content|striptags('<drupal-render-placeholder>')|trim %}

<div class="tile related-news-block">
    <div class="wrapper">
        <div class="h3">
            <a href="{{ internalUrl }}">
                {{ fields.title.content }}
            </a>
        </div>
        <div class="published-on">
            {{ fields.created.content }}
        </div>
        <div class="summary">
            {{ fields.field_restricted_html.content }}
        </div>
    </div>
</div>