<div id="mobile-nav-wrapper">
    <div id="main-menu-trigger" class="mobile-menu-btn" tabindex="1">
      <i class="fas fa-bars" role="presentation"></i>
      <div>
        Menu
      </div>
    </div>
</div>

<div id="main-menu-close" tabindex="1">
  <i class="fas fa-times" aria-label="Close Menu"></i>
</div>

<header class="site-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-header-wrapper">
          {{ page.header }}
        </div>
      </div>
    </div>
  </div>
</header>