{%
  set classes = [
    'container',
    'paragraph',
    'paragraph-' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'color-theme-' ~ content.field_color_theme|render|striptags('<drupal-render-placeholder>')|trim
  ]
%}
{% set parent = paragraph._referringItem.parent.parent.entity %}
{% if content.field_media_image|render is not empty %}
  {% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    <div class="img-holder {{content.field_media_image['#items'] ? 'bg-image-' ~ content.field_media_image['#items'][0].target_id}}">
      {{ content.field_media_image }}
    </div>
    {% set header_title = parent.title.value %}
    {% if content.field_header|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
      {% set header_title = content.field_header|render|striptags('<drupal-render-placeholder>')|trim %}
    {% elseif parent.field_display_title.value is not empty %}
      {% set header_title = parent.field_display_title.value %}
    {% endif %}
    <div class="title-wrapper {% if header_title|length > 40 %}long-text{% endif %}">
      <h1>
        {{ header_title }}
      </h1>
    </div>
  </div>
  {% endblock paragraph %}
{% endif %}
