{% block paragraph %}
  {%
    set classes = [
      'container',
      'paragraph',
      'paragraph-' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      'th-' ~ content.field_layout_style|render|striptags('<drupal-render-placeholder>')|trim,
      'th-' ~ content.field_band_color|render|striptags('<drupal-render-placeholder>')|trim,
      not paragraph.isPublished() ? 'paragraph--unpublished'
    ]
  %}
  <div {{ attributes.addClass(classes) }}>
    {% if content.title|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
      <div class="row row-header">
        <div class="col">
            <h3 class="h5">{{ content.title }}</h3>
        </div>
      </div>
    {% endif %}
    <div class="anchor-base"></div>
    {{ content.field_paragraph_bands }}
  </div>
{% endblock paragraph %}
