{% for item in items %}
    {% if item.content['#url'].routeName == 'entity.node.canonical' %}
        <a href={{ path('entity.node.canonical', {'node': item.content['#url'].routeParameters['node']})}}>
            {{ item.content['#title'] }}
        </a>
    {% endif %}
{% endfor %}
